:root {
    --colorGreenAccentHsl: 158 100% 23%;
    --colorGreenBgd: #006241;
    --colorPurpleBgd:#A3029A;
    --colorYellowBgd: #D6E342;
    --colorLgtGreenBgd: #97D8B1;
    --colorDarkFont: #1E3932;
}

* {
    margin: 0;
    padding: 0; 
}

@font-face {
    font-family: "sodo-sans-regular";
    src: url(./sodo-sans-8.ttf);
}

@font-face {
    font-family: "sodo-sans-bold";
    src: url(./sodo-sans-3.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    background-color: white;
    border: none;
    font-family: "sodo-sans-bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.btn:hover {
    color: hsl(var(--colorGreenAccentHsl));
}

.img-logo {
    width: 50px;
}
/* needs changed now due to logo*/
.img-home {
    width: 300px;
    height: auto;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "sodo-sans-regular";

}


h1 {
    font-family: "sodo-sans-bold";
}

.card {
    display: flex;
    border: 1px solid black;
    flex: 1;
    font-family: "sodo-sans-regular";
    font-size: 19px;
}

.card-left, .card-right {
    margin: 10px;
}


.card-one {
    background-color: var(--colorGreenBgd);
    color: white;
}

.card-two {
    background-color: var(--colorPurpleBgd);
    color: white;
}

.card-three {
    background-color: var(--colorYellowBgd);
    color: var(--colorDarkFont);
}

.card-four {
    background-color: var(--colorLgtGreenBgd);
    color: var(--colorDarkFont);
}


footer {
    font-family: "sodo-sans-regular";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}