:root {
    --colorGreenAccentHsl: 158 100% 23%;
    --colorGreenBgd: #006241;
    --colorGreenHighlight: rgba(0, 0, 0, 0.016);
    --colorPurpleBgd:#A3029A;
    --colorYellowBgd: #D6E342;
    --colorLgtGreenBgd: #97D8B1;
    --colorDarkFont: #1E3932;
    --halfViewWidth: calc(vw / 2);
}

* {
    margin: 0;
    padding: 0; 
}

@font-face {
    font-family: "sodo-sans-regular";
    src: url(./sodo-sans-8.ttf);
}

@font-face {
    font-family: "sodo-sans-bold";
    src: url(./sodo-sans-3.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.btn-home, .btn-contact, .btn-menu {
    background-color: white;
    border: none;
    font-family: "sodo-sans-bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.btn-home:hover, .btn-contact:hover, .btn-menu:hover {
    color: hsl(var(--colorGreenAccentHsl));
}

.img-logo {
    width: 50px;
}


#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: "sodo-sans-regular";

}

h1 {
    font-family: "sodo-sans-bold";
}

footer {
    font-family: "sodo-sans-regular";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* END OF MAIN PAGE CONTENT*/






/* HOME PAGE CONTENT */

.container-home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}
.card {
    display: flex;
    flex: 1;
    font-family: "sodo-sans-regular";
    font-size: 19px;
}

.card-left, .card-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-one {
    background-color: var(--colorGreenBgd);
    color: white;
}

.card-two {
    background-color: var(--colorPurpleBgd);
    color: white;
}

.card-three {
    background-color: var(--colorYellowBgd);
    color: var(--colorDarkFont);
}

.card-four {
    background-color: var(--colorLgtGreenBgd);
    color: var(--colorDarkFont);
}

/* Styling for the .card-left or .card-right that contain text content */
.card-one>.card-right, .card-three>.card-right, .card-two>.card-left, .card-four>.card-left {
    padding: 32px 24px;
    justify-content: center;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.4rem;
    font-size: 24px;
    text-align: center;
}

/* Child combinator prevents any styling conflict with menu or contact pages */ 
.card-text>h2 {
    margin-bottom: 24px;
    font-size: 50px;
}

/* Child combinator prevents any styling conflict with buttons on menu or contact page*/
.card-text>button {
    margin-top: 32px;
    padding: 7px 16px;
    background-color: inherit;
    color: var(--colorDarkFont);
    border: 1px solid var(--colorDarkFont);
    border-radius: 50px;
    font-size: 16px;
    font-family: "sodo-sans-regular";
    font-weight: 600;
}

/* Card one and two have darker colors so color change for better contrast */
.card-one button, .card-two button {
    color: white;
    border: 1px solid white;
}

/* Ensures .card-left and .card-right that contain images stay at 50% of vw */ 
.card-one>.card-left, .card-three>.card-left, .card-two>.card-right, .card-four>.card-right {
    max-width: 50%;
}


/* MENU PAGE CONTENT */


/* CONTACT PAGE CONTENT */